a {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
abbr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
acronym {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
address {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
applet {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
article {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
aside {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
audio {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
b {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
big {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
blockquote {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
body {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
canvas {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
caption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
center {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
cite {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
code {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
del {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
details {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
dfn {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
div {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
em {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
embed {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
figcaption {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
figure {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
footer {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h1 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h2 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h3 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h4 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h5 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
h6 {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
header {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
hgroup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
html {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
i {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
iframe {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
img {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
ins {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
kbd {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
legend {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
mark {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
menu {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
nav {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
object {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
ol {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
output {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
p {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
q {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
ruby {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
s {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
samp {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
section {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
small {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
span {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
strike {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
strong {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
sub {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
summary {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
sup {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
table {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
tbody {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
td {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
tfoot {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
th {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
thead {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
time {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
tr {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
tt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
u {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
var {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
video {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: middle;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
body {
	line-height: 1;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none !important;
}

a:focus {
	outline: none;
}

blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::after {
	content: none;
}
blockquote::before {
	content: none;
}
q::after {
	content: none;
}
q::before {
	content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.hidden {
	width: 0px; line-height: 0; font-size: 0px; visibility: hidden;
}

/*
     FILE ARCHIVED ON 21:39:16 Oct 02, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:17:44 May 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 224.286
  exclusion.robots: 0.129
  exclusion.robots.policy: 0.116
  cdx.remote: 0.091
  esindex: 0.013
  LoadShardBlock: 186.355 (3)
  PetaboxLoader3.datanode: 211.387 (5)
  load_resource: 417.849 (2)
  PetaboxLoader3.resolve: 273.796 (2)
*/